@font-face {
    font-family: 'My font';
    src: url('../fonts/PlayfairDisplaySC-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: sans-serif;
}

ul {
    padding: 0;
}

.content {
    color: #2f2d2c;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 17px 2px #da9a4c;
    color: white;
    background: #141414d4;
}

.slogan {
    font-family: 'My font';
}

.guides {
    gap: 60px;
    display: flex;
    list-style-type: none;
}

.guides li a {
    position: relative;
}

.guides li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 2%;
    width: 0;
    height: 0.2rem;
    background: #bd1111;
    transition: all 300ms ease-in-out;
}

.guides li a:hover::after {
    width: 96%;
}

.btn-contact, .btn-order, .btn-pizza,
.btn-pasta, .btn-salad, .btn-drinks,
.btn-order-online, .btn-menu {
    font-weight: 600;
    border: 2px solid #da9a4c;
    color: #fff;
    box-shadow: 0 0 40px 40px #da9a4c inset, 0 0 0 0 #da9a4c;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    padding-left: 30px;
    padding-right: 30px;
    width: 160px;
    border-radius: 30px;
    height: 35px;
    cursor: pointer;
}

.btn-contact, .btn-order-online, .btn-order {
    border: 2px solid #bd1111;
    color: white;
    box-shadow: 0 0 40px 40px #bd1111 inset, 0 0 0 0 #bd1111;
}

.btn-order-online, .btn-menu {
    width: 200px;
    margin: 20px;
}

.btn-menu {
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 white;
    color: #bd1111;
    border: 2px solid #bd1111;
}

.btn-pasta, .btn-salad, .btn-drinks {
    width: 120px;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 white;
    color: #da9a4c;
} 

.btn-pizza {
    width: 120px;
}

a {
    text-decoration: none;
    color: white;
}

.home {
    display: grid;
    grid-template-columns: 6fr 4fr;
    align-items: center;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 90vh;
}

.img-home {
    height: 350px;
    width: 350px;
    border-radius: 400px;
}

.sub-img-home {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    position: absolute;
    right: 10px;
    top: 450px;
}

.salad-img-home {
    height: 100px;
    width: 100px;
    border-radius: 150px;
    position: absolute;
    right: 450px;
    top: 350px;
}

.menu {
    display: none;
    min-height: 90vh;
    padding: 0 50px 0 50px;
}

.header-menu {
    grid-template-columns: 1fr 3fr;
    display: grid;
    gap: 40px;
    align-items: center;
    border-bottom: dashed #9d0a0a;
}

.btns-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.menu-pizza {
    text-align: center;
}

.pizzas-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.pizzas-list li:nth-child(odd) {
    font-weight: 900;
}


li {
    list-style-type: none;
}

.flavors {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 600;
    font-size: 1.2rem;
}

.prices {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-pasta, .menu-salad {
    display: none;
}

.menu-pasta > h2, .menu-salad > h2 {
    text-align: center;
}

.pastas-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

.pastas-list li:nth-child(odd) {
    font-weight: 900;
}

.pastas-list > li > p {
    font-weight: 100;
    font-size: 0.8rem;
}

.prices-pastas {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.menu-drinks {
    display: none;
    text-align: center;
}

.drinks-list {
    display: flex;
    align-items: flex-start;
    gap: 100px;
    justify-content: center;
}

.beer > li, .soft > li {
    margin-bottom: 15px;
}

h2 {
    color: #9d0a0a;
}

.locations {
    display: none;
    padding: 50px;
}

.row {
    display: flex;
    gap: 20px;
}

.contact-hours {
    display: flex;
    justify-content: space-around;
}

.hours-list {
    padding: 0;
}

.row p {
    margin-top: 0;
}

@media screen and (max-width: 425px) {
    .guides {
        gap: 10px;
        padding: 0;
    }

    .btn-contact {
        display: none;
    }

    .home {
        display: block;
        padding-top: 50px;
    }

    .img-home {
        display: none;
    }

    .menu {
        padding: 0 10px 0 10px; 
    }

    .btns-menu {
        flex-wrap: wrap;
    }

    .beer {
        padding: 0;
    }
    
    .locations {
        padding: 10px;
    }
}